body {
  background-image: repeating-radial-gradient(50px 50px, #ffefd5 30%, #f4a460 60%, #ffefd5 80%);
  background-size: 50px 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.container, .head, header, .main {
  display: flex; 
  justify-content: center;
  align-items: center;
  height:100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  padding: 100px;
  border: none;
  width: 20%;
  background-color: #f4a460;
  opacity: .9;
  border-radius: 50%;
  border: 5px solid #ffefd5;
}

.modal-content:hover {
  background-color: #ffefd5;
  border-color: #f4a460;
  border-style: dotted;
}

.close {
  font-size: 32px;
  text-align: center;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  padding: 25px;
  padding-bottom: 20px;
  z-index: 1;
  background-color: #ffefd5;
  opacity: .9;
  border-radius: 50%;
  border-top: 5px solid #f4a460;
  border-bottom: 5px solid #f4a460;
  border-left: 5px dotted #f4a460;
  border-right: 5px dotted #f4a460;
  font-size: 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.head, .main {
  background-color: #fff;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  margin: 10px;
  padding-right: 40px;
  opacity: .9;
  background: radial-gradient(500px 500px, #ffefd5 30%, #f4a460 60%, #ffefd5 80%);
  background-position: center;
  background-size: 500px 500px;
}

.head {
  border-top: 50px dotted #f4a460;
  border-bottom: 50px dotted #f4a460;
  border-left: 50px solid #f4a460;
  border-right: 50px solid #f4a460;
  background-image: url(./images/donuts.png),  radial-gradient(500px 500px, #ffefd5 30%, #f4a460 60%, #ffefd5 80%);
  background-position: center;
  background-size: cover;
}

.main {
  border-top: 50px solid #f4a460;
  border-bottom: 50px solid #f4a460;
  border-left: 50px dotted #f4a460;
  border-right: 50px dotted #f4a460;
}

.center-text, h1, .button{
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 5px;
}

.counts li {
  border-bottom: 5px dotted #f4a460;
  border-radius: 50%;
  background: radial-gradient(#ffefd5, #ffefd5, transparent, transparent);
  padding: 15px 5px;
  max-width: 70px;
  overflow-x: hidden;
  text-align: center;
}

.values li {
  padding: 5px 15px;
  background: radial-gradient(#ffefd5, #ffefd5, transparent, transparent);
}

ol li {
  list-style: none;
  list-style-position: inside;
  padding: 10px 5px;
}

button {
  margin: 10px;
  padding: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid #ffefd5;
  border-radius: 50%;
  background: radial-gradient(#f4a460, #f4a460, transparent, transparent);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

ul button {
  border-top: 5px dotted #f4a460;
  border-bottom: 5px dotted #f4a460;
  border-left: 5px solid #f4a460;
  border-right: 5px solid #f4a460;
}

button:hover {
  border-top: 5px solid #f4a460;
  border-bottom: 5px solid #f4a460;
  border-left: 5px dotted #f4a460;
  border-right: 5px dotted #f4a460;
}

#about-dev {
  width: 100px;
  height: 100px;
  border-top: 5px solid #f4a460;
  border-bottom: 5px solid #f4a460;
  border-left: 5px dotted #f4a460;
  border-right: 5px dotted #f4a460;
}

#about-dev:hover {
  border-top: 5px dotted #f4a460;
  border-bottom: 5px dotted #f4a460;
  border-left: 5px solid #f4a460;
  border-right: 5px solid #f4a460;
}

h1 {
  font-size: 70px;
  font-family: 'Kurale', serif;
  text-shadow: 2px 2px #f4a460;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.bold, a:hover {
  font-weight: bold;
}

.background-fade {
  background: radial-gradient(#f4a460, #f4a460, transparent, transparent);
}