body {
  background-image: repeating-radial-gradient(50px 50px, #ffefd5 30%, #f4a460 60%, #ffefd5 80%);
  background-size: 50px 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.container, header, .main {
  display: flex; 
  justify-content: center;
  align-items: center;
  height:100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  padding: 100px;
  border: none;
  width: 20%;
  background-color: #f4a460;
  opacity: .9;
  border-radius: 50%;
  border: 3px solid #ffefd5;
}

.modal-content:hover {
  background-color: #ffefd5;
  border-color: #f4a460;
}

.close {
  float: right;
  font-size: 24px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 25px;
  padding-bottom: 20px;
  z-index: 1;
  background-color: #f4a460;
  opacity: .9;
  border-radius: 50%;
  border: 3px solid #ffefd5;
  font-size: 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header, .main {
  background-color: #fff;
  border: 50px solid #f4a460;;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  margin: 10px;
  padding-right: 40px;
  opacity: .9;
  background-image: radial-gradient(500px 500px, #ffefd5 30%, #f4a460 60%, #ffefd5 80%);
  background-position: center;
  background-size: 500px 500px;
}

.center-text, .main, h1, .button{
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 5px;
}

.counts li {
  border-bottom: 5px double #f4a460;
  border-top: 5px double #f4a460;
  border-radius: 50%;
  background-color: #ffefd5;
}

.values li {
  width: 75px;
}

ol li {
  list-style: none;
  list-style-position: inside;
  padding: 10px 5px;
}

button {
  margin: 10px;
  padding: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid #ffefd5;
  border-radius: 50%;
  background-color: #f4a460;
  font-family: 'Quicksand', sans-serif;
  transition: background-color 1s;
  font-weight: bold;
}

button:hover {
  background-color: #ffefd5;
  border-color: #f4a460;
}

#about-dev {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 56px;
  font-family: 'Kurale', serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.bold {
  font-weight: bold;
}