body {
  background: repeating-radial-gradient(50px 50px, #efc2c2 10%, #f9e2d2 40%);
  background-size: 50px 50px;
}

.container {
  display:flex; 
  justify-content:center;
  align-items:center;
  height:100vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  padding: 100px;
  border: none;
  width: 20%;
  background-color: #fff;
  opacity: .8;
  border-radius: 50%;
}

.close {
  float: right;
  font-size: 24px;
}

.close:hover,
.close:focus {
  text-decoration: none;
}

/* .fred {
  opacity: 0;
}

a:target:after{
  opacity: 1;
} */

.small-width {
  width: 200px;
}

.center-text, .main, h1 {
  text-align: center;
}

ul li {
  display: inline;
}

ol li {
  list-style: none;
}